<!--I might need to add some sort of ViewModel or sthg here...-->
@model HelloWorldLiftoff.ViewModels.LoginViewModel

<!--<h1>Welcome to BizTracker! Please log in.</h1>-->

@{ 
    <h1>Welcome to BizTracker! Please log in. </h1>
}

<form asp-controller="Login" asp-action="Index" method="get">

    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username" />
        <span asp-validation-for="Username"></span>

        <!--<select asp-for="username" asp-items="Model.User"></select>
    <input type="text" name="usernameID" value="" />
    <span asp-validation-for="username"></span>-->
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>

        <!--<select asp-for="password" asp-items="Model.User"></select>
    <input type="text" name="password" value="" />
    <span asp-validation-for="password"></span>-->
    </div>


    <!--left off here, doing a ViewModel for the login feature of BizTracker-->
    <input type="submit" value="Log In" />
    <input type="submit" value="Create Account" />

</form>