@model HelloWorldLiftoff.ViewModels.LoginViewModel


@{ 
    <h1>Welcome to BizTracker, the online tracking sheet app for business consultants!</h1>
    
}
    <br />
    <h4>Please log in if you're ready to go out into the field :)</h4>
    <br />

    <form asp-controller="User" asp-action="UserHomePage" method="post">


            <div class="form-group">
                <label asp-for="Username"></label>
                <input class="form-control" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>

            </div>

            <input type="submit" value="I'm ready!" />
          


            <br />
            <br />
            <p><a asp-controller="User" asp-action="CreateAccount">New? Create an account!</a></p>

        </form>
